<el-input size="mini" v-model="comments.value1" disabled></el-input>
<el-input size="mini" v-model="comments.value2" disabled></el-input>
<el-input size="mini" v-model="comments.value3" disabled></el-input>
<el-input size="mini" v-model="comments.value4" disabled></el-input>
<el-input size="mini" v-model="comments.value5" disabled></el-input>
<el-input size="mini" v-model="comments.value6" disabled></el-input>
<el-input size="mini" v-model="comments.value7" disabled></el-input>
<el-input size="mini" v-model="comments.value8" disabled></el-input>
<el-input size="mini" v-model="comments.value9" disabled></el-input>
<el-input size="mini" v-model="comments.value10" disabled></el-input>
<el-input size="mini" v-model="comments.value11" disabled></el-input>
<el-input size="mini" v-model="comments.value12" disabled></el-input>
<el-input size="mini" v-model="comments.value13" disabled></el-input>
<el-input size="mini" v-model="comments.value14" disabled></el-input>
<el-input size="mini" v-model="comments.value15" disabled></el-input>
<el-input size="mini" v-model="comments.value16" disabled></el-input>
<el-input size="mini" v-model="comments.value17" disabled></el-input>
<el-input size="mini" v-model="comments.value18" disabled></el-input>
<el-input size="mini" v-model="comments.value19" disabled></el-input>
<el-input size="mini" v-model="comments.value20" disabled></el-input>
<el-input size="mini" v-model="comments.value21" disabled></el-input>
<el-input size="mini" v-model="comments.value22" disabled></el-input>
<el-input size="mini" v-model="comments.value23" disabled></el-input>
<el-input size="mini" v-model="comments.value24" disabled></el-input>
<el-input size="mini" v-model="comments.value25" disabled></el-input>
<el-input size="mini" v-model="comments.value26" disabled></el-input>
<el-input size="mini" v-model="comments.value27" disabled></el-input>
<el-input size="mini" v-model="comments.value28" disabled></el-input>
<el-input size="mini" v-model="comments.value29" disabled></el-input>
<el-input size="mini" v-model="comments.value30" disabled></el-input>
<el-input size="mini" v-model="comments.value31" disabled></el-input>
<el-input size="mini" v-model="comments.value32" disabled></el-input>
<el-input size="mini" v-model="comments.value33" disabled></el-input>
<el-input size="mini" v-model="comments.value34" disabled></el-input>
<el-input size="mini" v-model="comments.value35" disabled></el-input>
<el-input size="mini" v-model="comments.value36" disabled></el-input>
<el-input size="mini" v-model="comments.value37" disabled></el-input>
<el-input size="mini" v-model="comments.value38" disabled></el-input>
<el-input size="mini" v-model="comments.value39" disabled></el-input>
<el-input size="mini" v-model="comments.value40" disabled></el-input>
<el-input size="mini" v-model="comments.value41" disabled></el-input>
<el-input size="mini" v-model="comments.value42" disabled></el-input>
<el-input size="mini" v-model="comments.value43" disabled></el-input>
<el-input size="mini" v-model="comments.value44" disabled></el-input>
<el-input size="mini" v-model="comments.value45" disabled></el-input>
<el-input size="mini" v-model="comments.value46" disabled></el-input>
<el-input size="mini" v-model="comments.value47" disabled></el-input>
<el-input size="mini" v-model="comments.value48" disabled></el-input>
<el-input size="mini" v-model="comments.value49" disabled></el-input>
<el-input size="mini" v-model="comments.value50" disabled></el-input>
<el-input size="mini" v-model="comments.value51" disabled></el-input>
<el-input size="mini" v-model="comments.value52" disabled></el-input>
<el-input size="mini" v-model="comments.value53" disabled></el-input>
<el-input size="mini" v-model="comments.value54" disabled></el-input>
<el-input size="mini" v-model="comments.value55" disabled></el-input>
<el-input size="mini" v-model="comments.value56" disabled></el-input>
<el-input size="mini" v-model="comments.value57" disabled></el-input>